!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Vulnerable Web App SSE'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Vulnerable Web App Sse'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
  %body
    #wrapper
      %header
        = render 'layouts/navigation'
      %main
        .container-fluid
          .row
            .col-md-12
              / %main{:role => "main"}
              = render 'layouts/messages'
              = yield
